<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav" style="list-style: none outside none;">
                <li style="position: relative; display: inline; margin: 20px; ">
                  <%= link_to t("simple_form.vehicles.vehicles"), vehicles_path%>
                </li>
                <li style="position: relative; display: inline; margin: 20px; ">
                  <%= link_to t("simple_form.drivers.drivers"), drivers_path%>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>